<h3>ABOUT THE APPLICATION</h3>
<hr>
<p>Tweet App is SPA (Single Page App) for registered users to post new tweets, reply to tweets, like/unlike tweets.</p>
<p>Guest users cannot see any tweets.</p>
<p>The core modules of tweet app are:</p>
<ol>
  <li>User Registration</li>
  <li>Post tweet</li>
  <li>View users/handles and their respective tweets</li>
</ol>
<br>
<h4>TECHNOLOGY STACK</h4>
<br>
<table class="table table-striped table-success table-hover">
  <tbody>
  <tr>
    <th>Frontend</th>
    <td><a href="https://angular.io/">Angular</a></td>
  </tr>
  <tr>
    <th>Backend</th>
    <td><a href="https://spring.io/projects/spring-boot">SpringBoot</a></td>
  </tr>
  <tr>
    <th>Events Streaming Platform</th>
    <td><a href="https://kafka.apache.org/">Kafka</a></td>
  </tr>
  <tr>
    <th>Monitoring and Visualisation</th>
    <td><a href="https://www.elastic.co/">Elasticsearch, Logstash, Kibana,</a><a href="https://prometheus.io/">
      Prometheus </a>and <a href="https://grafana.com/">Grafana</a></td>
  </tr>
  <tr>
    <th>Code Quality and Management</th>
    <td><a href="https://www.sonarqube.org/">SonarQube</a> and <a href="https://git-scm.com/">Git</a></td>
  </tr>
  <tr>
    <th>Database</th>
    <td><a href="https://www.mongodb.com/">MongoDB</a> via <a href="https://www.mongodb.com/atlas/database">Mongo
      Atlas</a></td>
  </tr>
  <tr>
    <th>Cloud Platform</th>
    <td><a href="https://azure.microsoft.com/en-us/">Azure</a></td>
  </tr>
  </tbody>
</table>
<br>
<h4>API DOCUMENTATION</h4>
<br>
Click <a [href]="url">here</a> to view api documentation for the TweetApp.
