<div class="mt-4 p-5 bg-success text-white rounded">
  <h1>Welcome to TweetApp.</h1>
  <p><i>Start tweeting today!</i></p>
  <h5>
    <button class="btn btn-outline-light btn-sm" data-bs-target="#staticBackdrop" data-bs-toggle="modal">Sign In
    </button>
  </h5>
  <p>New here? Register now!</p>
  <h5>
    <button class="btn btn-outline-light btn-sm" routerLink="/register">Register</button>
  </h5>
</div>
<br>
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static"
     data-bs-keyboard="false"
     id="staticBackdrop" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{forgotPasswordMode ? 'Reset Password' : 'Login'}}</h5>
        <button #closeButton aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <ng-container *ngIf="!forgotPasswordMode; then loginFormTemplate else forgotPasswordTemplate"></ng-container>
    </div>
  </div>
</div>

<ng-template #loginFormTemplate>
  <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
    <div class="modal-body">
      <label for="username">Username:</label>
      <input [ngClass]="invalidForm?'invalidForm':null" class="form-control" formControlName="username" id="username"
             name="username"
             type="text">
      <label for="password">Password:</label>
      <input [ngClass]="invalidForm?'invalidForm':null" class="form-control" formControlName="password" id="password"
             name="password" type="password">
      <div *ngIf="invalidForm">
        <p class="form-text">{{errorMessage}}</p>
      </div>
      <a (click)="toggleForgotPasswordMode()" class="form-text" style="cursor: pointer">forgot password?</a>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Cancel</button>
      <button [disabled]="!loginForm.valid" class="btn btn-success" type="submit">Login</button>
    </div>
  </form>
</ng-template>

<ng-template #forgotPasswordTemplate>
  <form (ngSubmit)="onForgotPassword()" [formGroup]="forgotPasswordForm">
    <div class="modal-body">
      <label for="email">Email:</label>
      <input [ngClass]="invalidForm?'invalidForm':null" class="form-control" formControlName="email" id="email"
             name="email"
             type="text">
      <label for="newPassword">New Password:</label>
      <input [ngClass]="invalidForm?'invalidForm':null" class="form-control" formControlName="newPassword"
             id="newPassword"
             name="newPassword" type="password">
      <div *ngIf="invalidForm">
        <p class="form-text">{{errorMessage}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="toggleForgotPasswordMode()" class="btn btn-danger" type="button">Back</button>
      <button [disabled]="!forgotPasswordForm.valid" class="btn btn-success" type="submit">Reset Password</button>
    </div>
  </form>
</ng-template>

